.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: auto;
}

.character {
  position: absolute;
  width: 40%;
  height: auto;
}

/* .row{
    display: flex;
    gap: 4rem;
  }
  
  .row>img{
  width:10px
  }
  
  .row>div{
    width: 100px;
  } */