.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.content:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 5px var(--sub-grey);
  transition-duration: 200ms;
}

.content:active {
  transform: translate(0px, 0px);
  transition-duration: 200ms;
}

.background {
  width: 100%;
  height: auto;
}

.character {
  position: absolute;
  /* width: 100%; */
  /* height: auto; */
}

/* .row{
    display: flex;
    gap: 4rem;
  }
  
  .row>img{
  width:10px
  }
  
  .row>div{
    width: 100px;
  } */