.purpleButton {
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--purple);
  color: var(--font-white);
  font-weight: 600;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.greenButton {
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--purple);
  color: var(--font-white);
  font-weight: 600;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.redButton {
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--purple);
  color: var(--font-white);
  font-weight: 600;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.purpleButton:hover {
  background-color: var(--hover-purple) !important;
  transform: translateY(-1px);
}

.greenButton:hover {
  background-color: var(--hover-green) !important;
  transform: translateY(-1px);
}

.redButton:hover {
  background-color: #6F3B41 !important;
  transform: translateY(-1px);
}

.purpleButton:active {
  transform: translateY(1px);
}

.greenButton:active {
  transform: translateY(1px);
}

.redButton:active {
  transform: translateY(1px);
}