.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;
    z-index: 996;
    width: 390px;
    top: 0;
}

.headbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    padding: 1rem;
    background-color: var(--purple);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px var(--sub-dark);
}

.navbarLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLogo {
    cursor: pointer;
    width: 100px;
    height: auto;
}

.hamburger {
    cursor: pointer;
}

.hamburger:hover {
    transform: scale(1.05);

}

.overlayMenu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background-color: rgba(222, 222, 222, 0.95);
    box-shadow: -4px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.closeIcon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.4rem;
    gap: 1rem;
    height: 3rem;
    cursor: pointer;
}

.tab:hover {
    color: var(--purple);
    filter: invert(42%) sepia(34%) saturate(327%) hue-rotate(255deg) brightness(96%) contrast(93%);
}

.icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}