:root{
  --primary-background: #fff8f4;
  --purple: #896686;
  --green: #b1bfa9;
  --orange: #D88D70;
  --cordovan: #9E8C6F;
  --burgundy: #894751;
  --ash-red: #A08381;

  --deep-purple: #372936;
  --deep-green: #474C44;
  --deep-orange: #56382D;
  --deep-burgundy: #381E20;
  --deep-cordovan: #3F382C;
  --deep-ash-red: #403534;
}