.popUp{
  display: flex;
  align-items: center; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--font-white);
    border-right: 2px solid var(--sub-grey);
    border-bottom: 2px solid var(--sub-grey);
    border-radius: 10px;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content>img{
    width: 8rem;
}

.bioInfo>img{
width: 10rem;
}

.clickedContent{
  display: flex;
  position: absolute;
  left: 1.5rem;
  top: 10rem;
  width: 21.75rem;
  height: 34rem;
  background-color: var(--font-white);
  border-right: 2px solid var(--sub-grey);
  border-bottom: 2px solid var(--sub-grey);
  border-radius: 10px;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bioInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.bioInfo>img{
  margin-bottom: 1rem;

}

.separator {
border: 1px solid var(--sub-grey);
}

.box{
  width: 40px;
}


/* .row{
    display: flex;
    gap: 4rem;
  }
  
  .row>img{
  width:10px
  }
  
  .row>div{
    width: 100px;
  } */