:root {
  --primary-background: #fff8f4;
  --purple: #896686;
  --green: #b1bfa9;
  --orange: #D88D70;
  --cordovan: #9E8C6F;
  --burgundy: #894751;
  --ash-red: #A08381;
  --sub-grey: #DEDEDE;
  --sub-dark: #777777;
  --font-white: white;

  --hover-purple: #6E526B;
  --hover-green: #8E9987;
  --deep-purple: #372936;
  --deep-green: #474C44;
  --deep-orange: #56382D;
  --deep-burgundy: #381E20;
  --deep-cordovan: #3F382C;
  --deep-ash-red: #403534;

  --placeholder-components: rgba(130, 130, 194, 0.6);
  --placeholder-graphic: rgba(130, 194, 165, 0.6);
  --placeholder-text: rgba(194, 159, 130, 0.6);

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border:1px black solid; */
}

a {
  text-decoration: none;
  color: inherit;

}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-clr);
}

h4 {
  font-size: 18pt;
  font-weight: 600;
}