/* white background */
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--font-white);
  overflow-y: hidden;
}

/* display screen */
.main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 100vh;
  max-height: 1200px;
  border-radius: 2rem;
  background-color: var(--primary-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow-y: auto;
}

.main_container::-webkit-scrollbar {
  display: none;
}

.bubble {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 200px;
  width: 170px;
  z-index: 999;
}

.bubbleOne {
  position: absolute;
  left: 10px;
  bottom: 70px;
}

.bubbleTwo {
  position: absolute;
  left: calc(30px + 8vh);
  bottom: 120px;
}

.pageImg {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 450px;
  max-height: 800px;
  padding-left: 2rem;
  padding-top: 5rem;
  flex-grow: 1;
}

.landingImg {
  height: 100%;
  width: auto;
}

/* how to center the landing logo? */
.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 2rem 1.5rem;
}

.appLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}




.acknowledgeBtn:hover {
  background-color: var(--hover-purple);
}


.tutorialBtn:hover {
  background-color: var(--hover-green);
}