/* white background */
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--font-white);
  overflow-y: hidden;
}

.empty {
  flex-grow: 1;
  background-color: var(--font-white);
  height: 100vh;
  z-index: 999;
}

/* display screen */
.main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 390px;
  height: 100vh;
  max-height: 1200px;
  border-radius: 2rem;
  background-color: var(--primary-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: auto;
  padding-top: 3.5rem;
}

.main_container::-webkit-scrollbar {
  display: none;
}

.pageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 2rem 1.5rem;
  min-height: calc(744px - 3.5rem);
  gap: 1rem;
}

.contentContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.contentContainer>img {
  height: 1.25rem;
}

.actionBtn {
  margin-top: 10rem;
  width: 180px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--purple);
  color: var(--font-white);
  font-weight: bold;
  font-size: 18px;
  border: none;
}

.actionBtn:hover {
  background-color: var(--hover-purple);

}

.topRow,
.bottomRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

#test {
  background-color: white;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 2rem;
  font-size: 10pt;
  color: var(--sub-dark);
}