/* white background */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: var(--font-white);
    overflow-y: hidden;
}

.empty {
    flex-grow: 1;
    background-color: var(--font-white);
    height: 100vh;
    z-index: 999;
}

/* display screen */
.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 390px;
    height: 100vh;
    max-height: 1200px;
    border-radius: 2rem;
    background-color: var(--primary-background);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: auto;
    padding-top: 3.5rem;
}

.main_container::-webkit-scrollbar {
    display: none;
}

.pageContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 2rem 0 0 0;
    min-height: calc(744px - 3.5rem);
}

.topContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 200px;
}

.pageIndicator {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--placeholder-components);
}

.messageBG {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    flex-grow: 1;
    padding: 1.5rem;
}

.open {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20px;
    width: 100%;
}

.close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 15px;
    width: 100%;
}

.messageText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
}

.messageImg {
    position: absolute;
    width: 105%;
    object-fit: contain;
}

.bottomGraphic {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 170px;
    background-color: var(--primary-background);
    z-index: 100;
}

.walkingImg {
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 65%;
    width: auto;
}

.walkingCharacter {
    position: absolute;
    left: 3.8rem;
    top: 3rem;
    z-index: 100;
}