@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--font-white);
  overflow-y: hidden;
  position: relative;

}

.empty {
  flex-grow: 1;
  background-color: var(--font-white);
  height: 100vh;
  z-index: 999;
}

.filter {
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.55;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 997;
}

.filterB {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* display screen */
.main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 414px;
  height: 100vh;
  max-height: 1200px;
  /* border-radius: 2rem; */
  background-color: var(--primary-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: auto;
  padding-top: 3.5rem;
}

.main_container::-webkit-scrollbar {
  display: none;
}

.pageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 2rem 1.5rem;
  min-height: calc(744px - 3.5rem);

}

.topContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navigationArrow {
  position: absolute;
  top: 3.5rem;
  right: 2.5rem;
  z-index: 999;
  width: 4rem;
}

.nextArrow {
  position: absolute;
  bottom: 8rem;
  right: 8rem;
  z-index: 999;
  width: 4rem;
}

.tutorialText {
  position: absolute;
  top: 7rem;
  right: 3rem;
  z-index: 999;
  color: var(--font-white);
  font-family: 'itim';
}

.tutorialTextTwo {
  position: absolute;
  bottom: 11.5rem;
  right: 8rem;
  z-index: 999;
  color: var(--font-white);
  font-family: 'itim';
}

.pageTitle {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inputFelid {
  height: 60px;
  width: 346px;
  padding: 1rem;
  background-color: var(--sub-grey);
  border-radius: 10px;
  border-style: none;
  outline: none;
  text-align: center;
  font-size: 14pt;
  font-weight: 600;
  cursor: pointer;
}

.inputFelid:focus {
  background-color: var(--font-white);
  cursor: auto;
}

.inputFelid:not(:placeholder-shown) {
  background-color: var(--hover-purple);
  color: rgb(236, 224, 234);
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1);
}

.inputFelid::placeholder {
  opacity: 0.5;
}

.nameInput {
  height: 60px;
  width: 100%;
}

.pagePick {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.character {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0.4rem;
}

.colorTile:active {
  border-radius: 12px;
  box-shadow: inset 0px 0px 10px var(--sub-dark);
  /* transform: translate(-1px, -1px); */
}

.colorTile:hover {
  cursor: pointer;
}

.bottomButton {
  position: absolute;
  bottom: 5rem;
  right: 0rem;
  padding: 0 1.5rem;
  width: 100%;
  z-index: 120;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.quizButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clickIndicator {
  position: absolute;
  width: 8rem;
  height: 8rem;
  right: 4rem;
  top: 30rem;
  z-index: 999;
}

.clickHand {
  position: absolute;
  top: 1.1rem;
  left: 1.6rem;
}